.counter-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  width: 100%;
  height: 100%;
  font-family: monospace;
  font-size: 18px;
  font-weight: bold;
}

.counter-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.decrement {
  width: 30px;
  border: 1px solid #fd5e53;
  border-radius: 5px;
  user-select: none;
}

.decrement:hover {
  background-color: #fd5e53;
  cursor: pointer;
  box-shadow: 5px 5px 5px 3px #222;
  transition: all 0.25s;
}

.decrement:active {
  box-shadow: none;
}

.counter {
  width: 100px;
}

.increment {
  width: 30px;
  border: 1px solid #0779e4;
  border-radius: 5px;
  user-select: none;
}

.increment:hover {
  background-color: #0779e4;
  box-shadow: 5px 5px 5px 3px #222;
  cursor: pointer;
  transition: all 0.25s;
}

.increment:active {
  box-shadow: none;
}

.reset {
  width: 100px;
  border: 1px solid dodgerblue;
  border-radius: 5px;
  user-select: none;
  margin: 1rem;
  text-decoration: none;
  color: black;
}

.reset:hover {
  background-color: dodgerblue;
  cursor: pointer;
  box-shadow: 5px 5px 5px 3px #222;
  transition: all 0.25s;
}

.reset:active {
  box-shadow: none;
}
