.footer-container {
  position: absolute;
  bottom: 0;
  background-color: #222;
  height: 50px;
  width: 100%;
  font-family: monospace;
  font-size: 18px;
  font-weight: bold;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: inherit;
}

.link-styles {
  text-decoration: none;
  color: white;
}
