.digit-container-styles {
  display: flex;
  justify-content: center;
}

.digit-inner-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.digit-card-styles {
  border: 2px solid;
  border-radius: 5px;
  width: 250px;
  height: 250px;
  margin-bottom: 25px;
}

.font-styles {
  font-size: 120px;
  font-family: monospace;
  color: dodgerblue;
}
